@tailwind base;
@tailwind components;
@tailwind utilities;

/* Gear Trial Font Faces */
@font-face {
  font-family: 'Gear Trial';
  src: url('/fonts/GearTrial/GearTrial-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gear Trial';
  src: url('/fonts/GearTrial/GearTrial-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gear Trial';
  src: url('/fonts/GearTrial/GearTrial-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Gear Trial';
  src: url('/fonts/GearTrial/GearTrial-BoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}