@tailwind base;
@tailwind components;
@tailwind utilities;

.sb-show-main.sb-main-centered {
  background: black;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #878787;
}

::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #ffffff;
}
